@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/materialize/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../font/materialize/MaterialIcons-Regular.woff2) format("woff2"), url(../font/materialize/MaterialIcons-Regular.woff) format("woff"), url(../font/materialize/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

body {
  letter-spacing: 0.1rem; }

nav {
  background-color: #4db6ac; }
  nav .brand-logo {
    letter-spacing: 0.5rem; }

.zx-body-container {
  height: 100%;
  display: flex;
  flex-direction: column; }

.zx-main {
  margin-left: 300px;
  flex-grow: 1;
  display: flex;
  padding: 15px 20px; }

.navbar-fixed {
  z-index: 1000; }

.side-nav {
  color: #fff;
  top: 64px;
  font-size: 12px;
  background-color: #607d8b; }
  .side-nav ul.zx-collapsible-parent > li {
    font-size: 14px; }
    .side-nav ul.zx-collapsible-parent > li.active, .side-nav ul.zx-collapsible-parent > li:hover {
      background-color: #4db6ac !important;
      color: #fff !important; }
  .side-nav ul.zx-collapsible-parent li {
    line-height: 32px;
    margin-bottom: 0px;
    color: #fafafa; }
  .side-nav ul.zx-collapsible-parent i {
    margin-right: 5px;
    font-size: 1.2rem; }
  .side-nav ul.zx-collapsible-parent .zx-icon-right {
    margin-right: 0;
    float: right; }
  .side-nav ul.zx-collapsible-parent .zx-icon-text {
    margin-left: 32px; }

.zx-logo-container {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 64px; }
  .zx-logo-container .brand-logo {
    text-align: center;
    height: 64px; }
    .zx-logo-container .brand-logo .zx-logo {
      height: 54px; }

.zx-menu-collapse-btn {
  display: inline-block !important;
  margin-right: 20px;
  cursor: pointer; }

.zx-vertical-align {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.side-nav li.active {
  background-color: rgba(0, 0, 0, 0.05); }

.side-nav .collapsible-body > ul:not(.collapsible) > li.active, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: rgba(0, 0, 0, 0.05); }

.zx-collapsible-child {
  background-color: #546e7a; }
  .zx-collapsible-child > li.active {
    background: none; }
    .zx-collapsible-child > li.active > .collapsible-header {
      border-left: 4px solid #4db6ac; }

.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
  border: 0;
  background-color: inherit; }

.zx-dashboard-container {
  width: 100%;
  position: relative; }

.zx-dashboard-content {
  padding: 10px;
  display: none;
  position: absolute;
  left: 0;
  top: 0; }
  .zx-dashboard-content.show {
    width: 100%;
    display: block; }

.zx-text-overflow {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden; }

ul.zx-padding-15 > li {
  padding-left: 25px !important; }

ul.zx-padding-30 {
  padding-left: 30px; }

ul.zx-padding-45 {
  padding-left: 45px; }

.zx-report-link {
  color: #ffcc80; }

.zx-report-iframe-container {
  flex-grow: 1;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }
  .zx-report-iframe-container iframe {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.zx-list-subtitle {
  color: #e0e0e0;
  padding: 20px 25px 5px;
  font-size: 1rem;
  letter-spacing: 0.3rem; }

.zx-flex-grow-1 {
  flex-grow: 1; }

.zx-dashboard-header {
  margin-bottom: 1rem; }

.zx-summary-numb-box {
  background-color: #e57373;
  color: #ffffff;
  padding: 10px 15px;
  text-align: center; }
  .zx-summary-numb-box .zx-summary-numb-box-header {
    color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .zx-summary-numb-box .zx-summary-numb-box-header .zx-summary-numb-box-icon {
      font-size: 32px; }
    .zx-summary-numb-box .zx-summary-numb-box-header .zx-summary-numb-box-subject {
      font-size: 24px; }
  .zx-summary-numb-box .zx-summary-numb-box-body .zx-summary-numb-box-content {
    font-size: 36px; }
  .zx-summary-numb-box .zx-summary-numb-box-body .zx-summary-numb-box-subcontent {
    display: flex;
    justify-content: center;
    align-items: center; }
  .zx-summary-numb-box .zx-summary-numb-box-body .divider {
    margin: 10px 0; }
  .zx-summary-numb-box .zx-summary-numb-box-footer {
    text-align: right; }

.zx-header-highlight {
  border-left: 4px solid;
  padding-left: 10px; }
  .zx-header-highlight.zx-header-highlight-blue {
    border-color: #64B5F6; }
  .zx-header-highlight.zx-header-highlight-cyan {
    border-color: #4dd0e1; }
  .zx-header-highlight.zx-header-highlight-brown {
    border-color: #a1887f; }
  .zx-header-highlight.zx-header-highlight-teal {
    border-color: #4db6ac; }

.zx-recent-report-container {
  margin-bottom: 10px; }

.zx-basic-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .zx-basic-info-container .zx-basic-info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 15px;
    min-width: 290px;
    margin: 0 10px 10px 10px; }
    .zx-basic-info-container .zx-basic-info-box .zx-basic-info-icon {
      min-width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #e57373; }
      .zx-basic-info-container .zx-basic-info-box .zx-basic-info-icon i {
        font-size: 32px; }
    .zx-basic-info-container .zx-basic-info-box .zx-basic-info-content {
      min-width: 50px;
      text-align: right; }
      .zx-basic-info-container .zx-basic-info-box .zx-basic-info-content .zx-basic-info-subtitle {
        color: #757575; }
      .zx-basic-info-container .zx-basic-info-box .zx-basic-info-content .zx-basic-info-title {
        font-size: 18px; }

.zx-report-container {
  padding: 0 20px; }

.zx-score-container {
  display: flex;
  justify-content: space-between; }
  .zx-score-container .zx-score-item {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    text-align: center;
    flex-grow: 1; }
    .zx-score-container .zx-score-item .zx-score-header {
      padding: 10px 15px 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .zx-score-container .zx-score-item .zx-score-header .zx-score-title {
        color: #757575; }
      .zx-score-container .zx-score-item .zx-score-header i {
        color: #e57373;
        font-size: 32px; }
    .zx-score-container .zx-score-item .zx-score-body {
      padding: 10px 15px 15px 15px; }
      .zx-score-container .zx-score-item .zx-score-body .zx-score-content {
        font-size: 36px; }
    .zx-score-container .zx-score-item .zx-score-footer {
      padding: 10px 15px; }

.zx-note-container {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #eeeeee;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .zx-note-container .zx-note-icon {
    min-width: 150px;
    display: flex;
    justify-content: center; }
    .zx-note-container .zx-note-icon i {
      font-size: 48px; }
  .zx-note-container .zx-note-content {
    flex-grow: 1; }

.zx-wrong-quiz {
  width: 100%;
  display: flex;
  border: 2px solid #4db6ac;
  border-radius: 3px;
  margin-bottom: 5px; }
  .zx-wrong-quiz .zx-wrong-quiz-left {
    width: 25%;
    border-right: 2px solid #4dd0e1; }
    .zx-wrong-quiz .zx-wrong-quiz-left div {
      width: 100%;
      padding: 2px; }
  .zx-wrong-quiz .zx-wrong-quiz-right {
    width: 75%; }
    .zx-wrong-quiz .zx-wrong-quiz-right .zx-wrong-quiz-right-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0; }
      .zx-wrong-quiz .zx-wrong-quiz-right .zx-wrong-quiz-right-content li {
        list-style: none;
        width: 33.333333333%;
        margin: 0;
        padding: 2px; }
