.modal.pb-modal-signup {
    width: 350px;
    max-height: 75%;
    text-align: center;
}
.modal.pb-modal-signup .pb-auth-btn .btn{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}