// Headings
h1 {
  font-size: 32px;
  margin: 1rem 0;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 1rem 0;
}
h3 {
  font-size: 18px;
  border-left: 4px solid;
  padding-left: 10px;
  border-color: #4db6ac;
  margin: 1rem 0;
}
h4 {
  font-size: 16px;
  margin: 1rem 0;
}

// Basic info box
.zx-basic-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 15px;
  .zx-basic-info-icon {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e57373;
    i {
      font-size: 32px
    }
  }
  .zx-basic-info-content {
    min-width: 50px;
    text-align: right;
    .zx-basic-info-subtitle {
      color: #757575;
    }
    .zx-basic-info-title {
      font-size: 14px;
    }
  }
}
.zx-report-holder {
  background-color: rgba(189,189,189,0);
  display: flex;
  justify-content: center;
  padding: 0;
  height: 100%;
  align-items: center;
  .zx-report-container-wrapper {
    visibility: hidden;
    height: 100%;
    .mCustomScrollBox {
      //box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    }
    .zx-report-container-box {
      padding: 15px 20px;
    }
    .zx-report-container {
      min-height: 100%;
      padding: 20px 40px;
      width: 100%;
      max-width: 994px;
      min-width: 738px;
      background-color: #fff;
      box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    }
  }
  .table-of-contents {
    li {
      a {
        color: #fff;
      }
    }
  }

}

// Preloader
.zx-preloader-container {
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.zx-preloader-wrapper {
}
.zx-preloader {
  display: block;
  position: relative;
  left: 60%;
  top: 45%;
  width: 75px;
  height: 75px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1201;
}

.zx-preloader-text {
  display: block;
  position: relative;
  top: 50%;
  left: 40%;
  color: #212121;

  z-index: 1201;
}

.zx-preloader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;

  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.zx-preloader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

.zx-preloader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  //background-color: rgba(255, 255, 255, 1);
  z-index: 1200;
  -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);  /* IE 9 */
  transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}
/* Loaded */
.loaded .zx-preloader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded .zx-preloader-text {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded .zx-preloader-wrapper {
  visibility: hidden;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded .zx-preloader-wrapper .loader-section {
  visibility: hidden;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


// 基本信息卡片
.zx-basic-container {
  display: flex;
  justify-content: space-between;
  .zx-basic-item {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    text-align: center;
    flex-grow: 1;
    .zx-basic-header {
      padding: 10px 15px 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .zx-basic-title {
        color: #757575;
      }
      i {
        color: #4db6ac;
        font-size: 24px
      }
    }
    .zx-basic-body {
      padding: 10px 15px 15px 15px;
      .zx-basic-content {
        font-size: 16px;
      }
      .zx-basic-subcontent {
      }
    }
    .zx-basic-footer {
      padding: 10px 15px;
    }
  }
}

// 分数卡片
.zx-score-container {
  display: flex;
  justify-content: space-between;
  .zx-score-item {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    text-align: center;
    flex-grow: 1;
    .zx-score-header {
      padding: 10px 15px 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .zx-score-title {
        color: #757575;
      }
      i {
        color: #4db6ac;
        font-size: 32px
      }
    }
    .zx-score-body {
      padding: 10px 15px 15px 15px;
      .zx-score-content {
        font-size: 36px;
      }
      .zx-score-subcontent {
      }
    }
    .zx-score-footer {
      padding: 10px 15px;
    }
  }
}

.zx-note-container {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #eeeeee;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .zx-note-icon {
    min-width: 150px;
    display: flex;
    justify-content: center;
    i {
      font-size: 48px;
    }
  }
  .zx-note-content {
    flex-grow: 1;
  }
}

//错题集样式
.zx-wrong-quiz {
  color: black;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  .zx-wrong-quiz-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #4db6ac;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .zx-wrong-quiz-bottom {
    width: 100%;
    margin-bottom: 5px;
  }
  .zx-wrong-quiz-content {
    width: 100%;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
    .zx-wrong-quiz-item {
      flex: 1;
      .zx-wrong-quiz-item-part {
        span{
          margin-right: 5px;
        }
      }
    }
  }
  .modal {
    max-height: 80%;
  }
}


.zx-standard-level-container {
  display: flex;
  justify-content: space-around;
  .zx-standard-level-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .zx-standard-level-color-box {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: #eee;
      display: inline-block;
      margin-right: 15px;
    }
    .zx-standard-level-label {
      margin-right: 10px;
    }
    .zx-standard-level-content {

    }
  }
}

.zx-school-indicators-margin {
  margin-top: 40px;
}

.zx-subtitle{
  font-size: 16px;
  color: #666;
}

.zx-qzp-body-container {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  color: #212121;
  a {
    color: #212121;
  }
}

.zx-report-subsection {
  margin-bottom: 25px;
  .zx-report-subsection-title {
    border-left: #0092ff 8px solid;
    padding-left: 0.5em;
    margin: 0;
    margin-bottom: 10px;
  }
}

.zx-text-align-right {
  text-align: right;
}

.zx-table {
  font-size: 14px;
  > tbody {
    > tr:first-child {
      border-bottom: 3px solid #15a892;
      z-index: 2;
    }
    > tr {
      > th {
        border: none;
        font-size: 14px;
      }
      > td {
        border-top: 2px solid #fff;
      }
    }
  }
}

.zx-section-title {
  font-size: 20px;
  border-bottom: 1px solid #b6b6b6;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.zx-report-section {
  margin-bottom: 20px;
  margin-bottom: 8px;
  background-color: #fff;
  padding: 15px 10px;
  .zx-report-section-title {
    font-size: 20px;
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 10px;
  }
  .zx-report-section-subtitle {

  }
  .zx-report-subsection {
    margin-bottom: 25px;
    .zx-report-subsection-title {
      border-left: #0092ff 8px solid;
      padding-left: 0.5em;
      margin: 0;
      margin-bottom: 10px;
    }
    .zx-report-subsection-subtitle {
      color: #808080;
    }
  }
}

.zx-qzp-response-container {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.zx-qzp-answer-container {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  color: #212121;
  a {
    color: #212121;
  }
}

// Student rank
.zy-rank-student-container {
  margin-bottom: 15px;
  padding: 0 5px;
  .zy-rank-student-heading {
  }
  .zy-rank-student-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .zy-rank-student-items {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
      .zy-rank-student-item {
        width: 10%;
        flex-basis: 10%;
        min-width: 24px;
        height: 36px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  .zy-rank-student-footer {
    .zy-rank-student-note {
      text-align: center;
      border: 1px solid #b6b6b6;
      padding: 5px;
      border-radius: 2px;
      margin-bottom: 5px;
      padding: 4px 8px;
      background-color: #eee;
      .zy-rank-highlight {
        font-size: 24px;
        color: #15a892;
      }
    }
  }
}
