.zx-basic-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .zx-basic-info-container .zx-basic-info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 15px;
    min-width: 280px;
    margin: 0 10px 10px 10px; }
    .zx-basic-info-container .zx-basic-info-box .zx-basic-info-icon {
      min-width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #e57373; }
      .zx-basic-info-container .zx-basic-info-box .zx-basic-info-icon i {
        font-size: 32px; }
    .zx-basic-info-container .zx-basic-info-box .zx-basic-info-content {
      min-width: 50px;
      text-align: right; }
      .zx-basic-info-container .zx-basic-info-box .zx-basic-info-content .zx-basic-info-subtitle {
        color: #757575; }
      .zx-basic-info-container .zx-basic-info-box .zx-basic-info-content .zx-basic-info-title {
        font-size: 18px; }

.zx-report-container {
  padding: 0 20px;
  width: 100%;
  max-width: 950px;
  min-width: 900px; }

.zx-score-container {
  display: flex;
  justify-content: space-between; }
  .zx-score-container .zx-score-item {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    text-align: center;
    flex-grow: 1; }
    .zx-score-container .zx-score-item .zx-score-header {
      padding: 10px 15px 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .zx-score-container .zx-score-item .zx-score-header .zx-score-title {
        color: #757575; }
      .zx-score-container .zx-score-item .zx-score-header i {
        color: #e57373;
        font-size: 32px; }
    .zx-score-container .zx-score-item .zx-score-body {
      padding: 10px 15px 15px 15px; }
      .zx-score-container .zx-score-item .zx-score-body .zx-score-content {
        font-size: 36px; }
    .zx-score-container .zx-score-item .zx-score-footer {
      padding: 10px 15px; }

.zx-note-container {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #eeeeee;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .zx-note-container .zx-note-icon {
    min-width: 150px;
    display: flex;
    justify-content: center; }
    .zx-note-container .zx-note-icon i {
      font-size: 48px; }
  .zx-note-container .zx-note-content {
    flex-grow: 1; }

.zx-wrong-quiz {
  width: 100%;
  border: 2px solid #4db6ac;
  border-radius: 3px;
  margin-bottom: 5px; }
  .zx-wrong-quiz .zx-wrong-quiz-title {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px dashed #4db6ac;
    font-size: 16px; }
    .zx-wrong-quiz .zx-wrong-quiz-title div {
      flex: 1; }
  .zx-wrong-quiz .zx-wrong-quiz-bottom {
    width: 100%; }
    .zx-wrong-quiz .zx-wrong-quiz-bottom .zx-wrong-quiz-bottom-content {
      width: 100%;
      display: inline-flex;
      justify-content: left;
      align-items: center; }
      .zx-wrong-quiz .zx-wrong-quiz-bottom .zx-wrong-quiz-bottom-content .zx-wrong-quiz-item {
        flex: 1; }
        .zx-wrong-quiz .zx-wrong-quiz-bottom .zx-wrong-quiz-bottom-content .zx-wrong-quiz-item .zx-wrong-quiz-item-part {
          padding: 2px 4px; }

.zx-standard-level-container {
  display: flex;
  justify-content: space-around; }
  .zx-standard-level-container .zx-standard-level-item {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .zx-standard-level-container .zx-standard-level-item .zx-standard-level-color-box {
      width: 20px;
      height: 20px;
      background-color: #eee;
      display: inline-block;
      margin-right: 15px; }
    .zx-standard-level-container .zx-standard-level-item .zx-standard-level-label {
      margin-right: 10px; }
