h1 {
  font-size: 32px; }

h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

.zx-basic-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 15px; }
  .zx-basic-info-box .zx-basic-info-icon {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e57373; }
    .zx-basic-info-box .zx-basic-info-icon i {
      font-size: 32px; }
  .zx-basic-info-box .zx-basic-info-content {
    min-width: 50px;
    text-align: right; }
    .zx-basic-info-box .zx-basic-info-content .zx-basic-info-subtitle {
      color: #757575; }
    .zx-basic-info-box .zx-basic-info-content .zx-basic-info-title {
      font-size: 14px; }

.zx-report-holder {
  background-color: rgba(189, 189, 189, 0);
  display: flex;
  justify-content: center;
  padding: 15px 0; }
  .zx-report-holder .zx-report-container {
    padding: 0 20px;
    width: 100%;
    max-width: 994px;
    min-width: 738px;
    background-color: #fff;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.zx-basic-container {
  display: flex;
  justify-content: space-between; }
  .zx-basic-container .zx-basic-item {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    text-align: center;
    flex-grow: 1; }
    .zx-basic-container .zx-basic-item .zx-basic-header {
      padding: 10px 15px 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .zx-basic-container .zx-basic-item .zx-basic-header .zx-basic-title {
        color: #757575; }
      .zx-basic-container .zx-basic-item .zx-basic-header i {
        color: #4db6ac;
        font-size: 24px; }
    .zx-basic-container .zx-basic-item .zx-basic-body {
      padding: 10px 15px 15px 15px; }
      .zx-basic-container .zx-basic-item .zx-basic-body .zx-basic-content {
        font-size: 16px; }
    .zx-basic-container .zx-basic-item .zx-basic-footer {
      padding: 10px 15px; }

.zx-score-container {
  display: flex;
  justify-content: space-between; }
  .zx-score-container .zx-score-item {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    text-align: center;
    flex-grow: 1; }
    .zx-score-container .zx-score-item .zx-score-header {
      padding: 10px 15px 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .zx-score-container .zx-score-item .zx-score-header .zx-score-title {
        color: #757575; }
      .zx-score-container .zx-score-item .zx-score-header i {
        color: #4db6ac;
        font-size: 32px; }
    .zx-score-container .zx-score-item .zx-score-body {
      padding: 10px 15px 15px 15px; }
      .zx-score-container .zx-score-item .zx-score-body .zx-score-content {
        font-size: 36px; }
    .zx-score-container .zx-score-item .zx-score-footer {
      padding: 10px 15px; }

.zx-note-container {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #eeeeee;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .zx-note-container .zx-note-icon {
    min-width: 150px;
    display: flex;
    justify-content: center; }
    .zx-note-container .zx-note-icon i {
      font-size: 48px; }
  .zx-note-container .zx-note-content {
    flex-grow: 1; }

.zx-wrong-quiz {
  border-radius: 3px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  padding: 10px 15px; }
  .zx-wrong-quiz .zx-wrong-quiz-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #4db6ac;
    padding-bottom: 5px;
    margin-bottom: 5px; }
  .zx-wrong-quiz .zx-wrong-quiz-bottom {
    width: 100%;
    margin-bottom: 5px; }
  .zx-wrong-quiz .zx-wrong-quiz-content {
    width: 100%;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px; }
    .zx-wrong-quiz .zx-wrong-quiz-content .zx-wrong-quiz-item {
      flex: 1; }
      .zx-wrong-quiz .zx-wrong-quiz-content .zx-wrong-quiz-item .zx-wrong-quiz-item-part span {
        margin-right: 5px; }

.zx-standard-level-container {
  display: flex;
  justify-content: space-around; }
  .zx-standard-level-container .zx-standard-level-item {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .zx-standard-level-container .zx-standard-level-item .zx-standard-level-color-box {
      width: 20px;
      height: 20px;
      background-color: #eee;
      display: inline-block;
      margin-right: 15px; }
    .zx-standard-level-container .zx-standard-level-item .zx-standard-level-label {
      margin-right: 10px; }

.zx-school-indicators-margin {
  margin-top: 40px; }
