nav {
  background-color: #4db6ac; }
  nav .brand-logo .svg-style {
    width: 140px;
    height: 64px; }
  nav .zx-margin-left {
    margin-left: 153px; }

.zx-body-container {
  height: 100%;
  display: flex;
  flex-direction: column; }

.zx-main {
  margin-left: 300px;
  flex-grow: 1;
  display: flex;
  padding: 15px 20px;
  position: relative; }

.navbar-fixed {
  z-index: 1000; }

.side-nav {
  color: #fff;
  top: 64px;
  font-size: 12px;
  background-color: #607d8b;
  height: calc(100% - 64px);
  padding-bottom: 10px; }
  .side-nav .mCSB_inside > .mCSB_container {
    margin-right: 0;
    min-height: 500px; }
  .side-nav ul.zx-collapsible-parent .zx-li-open {
    background-color: #4db6ac !important; }
  .side-nav ul.zx-collapsible-parent > li {
    margin-bottom: 10px; }
  .side-nav ul.zx-collapsible-parent li {
    line-height: 32px;
    color: #fafafa; }
  .side-nav ul.zx-collapsible-parent i.zx-list-expand {
    font-size: 28px;
    margin-right: 5px; }
  .side-nav ul.zx-collapsible-parent .zx-icon-right {
    margin-right: 0;
    float: right; }
  .side-nav ul.zx-collapsible-parent .zx-icon-text {
    line-height: 1.8em; }
    .side-nav ul.zx-collapsible-parent .zx-icon-text i {
      font-size: 18px;
      margin-right: 5px; }
  .side-nav ul.zx-collapsible-parent .collapsible-header {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .side-nav ul.zx-collapsible-parent .collapsible-header:hover {
      background-color: #4db6ac !important;
      color: #fff !important; }
  .side-nav ul.zx-collapsible-parent ul .collapsible-header {
    min-height: 32px;
    padding-left: 40px !important; }
  .side-nav ul.zx-collapsible-parent ul ul .collapsible-header {
    padding-left: 65px !important; }
  .side-nav ul.zx-collapsible-parent ul ul ul .collapsible-header {
    padding-left: 90px !important; }

.zx-logo-container {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 64px; }
  .zx-logo-container .brand-logo {
    text-align: center;
    height: 64px; }
    .zx-logo-container .brand-logo .zx-logo {
      height: 54px; }

.zx-menu-collapse-btn {
  display: inline-block !important;
  margin-right: 20px;
  cursor: pointer; }

.zx-vertical-align {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.side-nav li.active {
  background-color: rgba(0, 0, 0, 0.05); }

.side-nav .collapsible-body > ul:not(.collapsible) > li.active, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: rgba(0, 0, 0, 0.05); }

.zx-collapsible-child {
  background-color: #546e7a; }
  .zx-collapsible-child > li.active {
    background: none; }

.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
  border: 0;
  background-color: inherit; }

.zx-dashboard-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.zx-dashboard-content {
  padding: 10px; }

.zx-binding-login {
  display: flex;
  justify-content: center; }
  .zx-binding-login .zx-login-container {
    max-width: 450px;
    min-width: 400px;
    padding: 10px 30px;
    flex-grow: 1; }
    .zx-binding-login .zx-login-container h4 {
      text-align: center; }
    .zx-binding-login .zx-login-container .zx-close-adduser {
      float: right;
      color: #4db6ac; }
    .zx-binding-login .zx-login-container .zx-login-header {
      letter-spacing: 5px; }
    .zx-binding-login .zx-login-container .zx-login-btn {
      font-size: 16px;
      letter-spacing: 4px; }
    .zx-binding-login .zx-login-container .zx-form-message {
      margin-top: 5px;
      padding: 10px 15px;
      text-align: center;
      background-color: #e57373;
      color: #fff;
      border-radius: 3px; }
    .zx-binding-login .zx-login-container .zx-form-group {
      padding: 15px 0;
      display: flex;
      flex-direction: column; }

.zx-text-overflow {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden; }

ul.zx-padding-left > li > .collapsible-header {
  padding-left: 40px !important; }

ul.zx-padding-30 {
  padding-left: 30px; }

ul.zx-padding-45 {
  padding-left: 45px; }

.zx-report-link {
  color: #ffcc80; }

.zx-report-iframe-container {
  display: none;
  flex-grow: 1;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 500;
  background-color: rgba(189, 189, 189, 0.8); }
  .zx-report-iframe-container.show {
    display: block; }
  .zx-report-iframe-container .zx-icon-clear {
    color: #607d8b;
    position: absolute;
    padding: 0;
    right: 10px;
    top: 5px;
    background: none;
    box-shadow: none;
    height: 56px;
    line-height: 56px;
    z-index: 1; }
    .zx-report-iframe-container .zx-icon-clear i {
      font-size: 36px; }
  .zx-report-iframe-container .zx-iframe-container {
    width: 100%;
    position: relative;
    height: 100%;
    margin: auto; }
    .zx-report-iframe-container .zx-iframe-container .zx-iframe {
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 900px;
      position: relative;
      height: 0;
      overflow: hidden; }
      .zx-report-iframe-container .zx-iframe-container .zx-iframe,
      .zx-report-iframe-container .zx-iframe-container .zx-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.zx-list-subtitle {
  color: #e0e0e0;
  padding: 20px 25px 5px;
  font-size: 1rem;
  letter-spacing: 0.3rem; }

.zx-flex-grow-1 {
  flex-grow: 1; }

.zx-dashboard-header-container {
  margin-bottom: 1rem; }
  .zx-dashboard-header-container .zx-dashboard-header {
    display: flex;
    align-items: center; }
    .zx-dashboard-header-container .zx-dashboard-header i {
      color: #4db6ac;
      font-size: 36px; }

.zx-summary-numb-box {
  color: #ffffff;
  padding: 10px 15px;
  text-align: center; }
  .zx-summary-numb-box .zx-summary-numb-box-content-total {
    font-size: 26px; }
  .zx-summary-numb-box .zx-summary-numb-box-total {
    margin: 10px auto; }
  .zx-summary-numb-box .zx-summary-numb-box-header {
    color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .zx-summary-numb-box .zx-summary-numb-box-header .zx-summary-numb-box-icon {
      font-size: 32px; }
    .zx-summary-numb-box .zx-summary-numb-box-header .zx-summary-numb-box-subject {
      font-size: 24px; }
  .zx-summary-numb-box .zx-summary-numb-box-body {
    margin-top: 20px;
    margin-bottom: 15px; }
    .zx-summary-numb-box .zx-summary-numb-box-body .zx-summary-numb-box-content-increase {
      font-size: 42px; }
    .zx-summary-numb-box .zx-summary-numb-box-body .zx-summary-numb-box-subcontent {
      display: flex;
      justify-content: center;
      align-items: center; }
    .zx-summary-numb-box .zx-summary-numb-box-body .divider {
      margin: 10px 0; }
  .zx-summary-numb-box .zx-summary-numb-box-footer {
    text-align: right; }

.zx-recent-report-container {
  margin-bottom: 10px; }

.zx-summary-numb-box-color {
  color: #212121; }

.card-header-position {
  position: relative; }

.zx-subject-stats-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .zx-subject-stats-container .zx-subject-stats-item {
    margin: 0 10px;
    flex-grow: 1;
    flex-basis: 30%; }

@media only screen and (max-width: 768px) {
  .zx-subject-stats-container .zx-subject-stats-item {
    margin: 0 10px;
    flex-grow: 1;
    flex-basis: 100%; } }

.zx-user-select-container {
  padding: 10px 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .zx-user-select-container i {
    margin-right: 20px; }
  .zx-user-select-container .caret {
    color: #fff !important; }
  .zx-user-select-container label {
    font-size: 1rem;
    color: #e0e0e0; }
  .zx-user-select-container .input-field {
    flex-grow: 1;
    margin-top: 0; }
  .zx-user-select-container .select-dropdown {
    margin-bottom: 0 !important; }

.zx-preloader-report-list-container {
  text-align: center;
  margin-top: 20px; }
  .zx-preloader-report-list-container .zx-preloader .spinner-layer {
    border-color: #b2dfdb; }
  .zx-preloader-report-list-container .zx-preloader.show {
    display: inline-block; }
  .zx-preloader-report-list-container .zx-preloader.hide {
    display: none; }
  .zx-preloader-report-list-container .zx-preloader-text {
    color: #b2dfdb;
    margin-top: 10px; }

.zx-main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #eee; }
  .zx-main-login .zx-login-container {
    max-width: 480px;
    min-width: 400px;
    height: 600px;
    padding: 40px 80px;
    flex-grow: 1;
    background-color: #fff; }
    .zx-main-login .zx-login-container .brand-logo {
      text-align: center; }
      .zx-main-login .zx-login-container .brand-logo .svg-style {
        width: 100px;
        height: 70px; }
    .zx-main-login .zx-login-container .zx-login-header {
      margin-top: 0;
      letter-spacing: 3px;
      text-align: center;
      margin-bottom: 40px; }
    .zx-main-login .zx-login-container .zx-login-btn {
      font-size: 16px;
      letter-spacing: 4px; }
    .zx-main-login .zx-login-container .zx-form-message {
      margin-top: 5px;
      padding: 10px 15px;
      text-align: center;
      background-color: #e57373;
      color: #fff;
      border-radius: 3px; }
    .zx-main-login .zx-login-container .zx-form-group {
      display: flex;
      flex-direction: column; }

@media only screen and (max-width: 1230px) {
  .side-nav.fixed {
    transform: translateX(-105%); }
  .zx-main {
    margin-left: 0; } }

.dropdown-content li {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  min-height: 36px;
  line-height: 36px;
  width: 100%;
  text-align: left;
  text-transform: none; }
  .dropdown-content li > span {
    padding: 10px 16px; }

.zx-settings-heading {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .zx-settings-heading .zx-settings-icon {
    margin-right: 10px;
    font-size: 38px;
    color: #4db6ac; }
  .zx-settings-heading .zx-settings-name {
    flex-grow: 1; }
  .zx-settings-heading .zx-settings-role {
    font-size: 18px;
    color: #fff;
    background-color: #4db6ac;
    border-radius: 3px;
    padding: 5px; }

.zx-user-autority-list-container .zx-user-autority-list .zx-user-autority-item {
  display: flex;
  align-items: center;
  padding: 10px 0; }
  .zx-user-autority-list-container .zx-user-autority-list .zx-user-autority-item i {
    color: #4db6ac;
    margin-right: 10px; }

.zx-block-user .zx-bind-user-list {
  border-bottom: 1px solid #4db6ac; }
  .zx-block-user .zx-bind-user-list .zx-check-all-center {
    display: inline;
    color: #000000; }

.zx-block-user .zx-bind-user-btn .btn {
  margin-top: 25px;
  margin-right: 25px; }
  .zx-block-user .zx-bind-user-btn .btn .zx-bind-label {
    float: right;
    padding: 4px;
    line-height: 30px; }

.zx-login-wx-bind {
  text-align: center; }

.zx-lessen-margin {
  margin: 0 10px !important; }

.zx-page-preloader {
  display: none; }
  .zx-page-preloader.active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #eee;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center; }
